/* .sliderProduct {
  background-color: rgba(188, 150, 115, 1);
  width: 150px;
  border-radius: 30px;
  padding-bottom: 30px;
  user-select: none; */
/* flex-basis: 100%; */
/* flex-shrink: 0; */
/* scroll-snap-align: start; */
/* } */

/* .table-container {
  margin: 50px auto;
  width: 80vw;
  direction: rtl;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #7b4a2d;
  color: white;
}

th {
  padding: 15px;
  font-size: 18px;
}

tbody td {
  padding: 12px;
  font-size: 16px;
  background-color: #d9a97c;
  color: #3d2a1a;
}

tbody tr:nth-child(even) td {
  background-color: #f4e7db;
  color: black;
}

tbody td:nth-child(2n + 1) {
  background-color: #e0be9d;
  color: black;
}
.price {
  background: #603813 !important;
  color: white !important;
  width: 250px;
} */

/* body {
  font-family: Arial, sans-serif;
  text-align: center;

  background-color: #f7f7f7;
} */

.table-container {
  width: 80%;
  margin: 50px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  direction: rtl;
}

thead {
  background-color: #7b4a2d;
  color: white;
}

th {
  padding: 15px;
  font-size: 18px;
}

.product-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #e0be9d;
  justify-content: space-between;
  width: 50%;
  /* border-radius: 8px; */
  /* transition: background-color 0.3s ease; */
}

/* .product-container:hover {
  background-color: #f4a76e;
} */

.product-name {
  font-size: 18px;
  font-weight: bold;
  color: black;
  /* width: 50%; */
}

.product-price {
  font-size: 16px;
  color: white;
  margin-top: 10px;
  background-color: #603813;
  width: 150px;
  height: auto;
  margin-top: 0;
  padding: 20px;
  border-bottom: 1px solid #e0be9d;
}

/* Optional: different background for alternating rows */
tbody tr:nth-child(even) .product-container {
  background-color: #f4e7db;
}

tbody td {
  /* padding: 12px; */
  font-size: 16px;
  padding: 0;
  /* border-bottom: 2px solid #7b4a2d; */
}
.table-header {
  border-bottom: 1px solid #c8792f;
  border-top-left-radius: 15px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #603813;
  color: #e0be9d;
  padding: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  direction: rtl;
}
.category {
  padding: 5px 20px;
  border-radius: 17px;
  background-color: #e0be9d;
  display: inline-block;
  color: #603813;
  cursor: pointer;
}
.selectedCategory {
  padding: 5px 20px;
  border-radius: 17px;
  background-color: #603813;
  display: inline-block;
  color: #e0be9d;
  cursor: pointer;
}
.category:hover,
.selectedCategory:hover {
  color: #603813;
}
.selectedCategory:hover {
  color: #e0be9d;
}
.header-container {
  width: 25%;
}
.mobileHeaderContainer {
  display: none;
}
/* From Uiverse.io by mrhyddenn */
.spinner {
  font-size: 35px;
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
}

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }

  100% {
    background-color: transparent;
  }
}
@media screen and (max-width: 992px) {
  .midEllipse {
    display: none;
  }
  /* .productsTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */
  .table-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-price {
    font-size: 16px;
    color: white;
    margin-top: 10px;
    background-color: transparent;
    color: #603813;
    width: auto;
    height: auto;
    margin-top: 0;
    text-align: center;
    /* padding: 20px; */
    padding: 0;
    /* border-bottom: 1px solid #e0be9d; */
  }
  .product-name {
    text-align: center;
    border-bottom: 1px solid #c8792f;
  }
  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 10px;
  }
  .table-header {
    background-color: transparent;
    color: #603813;
    box-shadow: 0px 0px 0px 0px;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: start;
    padding: 0;
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom: 0;
  }
  .header-container {
    width: 100%;
  }
  .sliderProduct {
    width: 200px !important;
  }
  .scroll-item {
    min-width: 200px;
  }
  .mainSliderContainer {
    gap: 10px;
  }
  .selectedCategory,
  .category {
    font-size: 12px;
    padding: 5px 0px;
    padding-right: 10px;
  }
  .topEllipses {
    display: none !important;
  }
  .mobileHeaderContainer {
    display: flex;
    flex-direction: row-reverse;
    background-color: #f4e7db;
    padding: 25px;
    gap: 15px;
    /* padding-bottom: 50px; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .categoryScroll {
    background-color: white;
  }
}

.hidden {
  opacity: 0;
}

.sliderProduct img {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sliderProduct img.loaded {
  opacity: 1;
  height: 300px;
}

.skeleton-container {
  display: flex;
  gap: 15px;
  padding: 10px;
}

.images-container {
  display: flex;
  gap: 15px;
  transition: all 0.3s ease-in-out;
}

.images-container.hidden {
  opacity: 0;
  transform: translateY(10px);
}

.images-container.visible {
  opacity: 1;
  transform: translateY(0);
}
